<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello world</title>
    </head>
    <body>
        <div style="color:red" th:if="${virhe}" th:text="${virheteksti}"/>  
        <form name="logout" action="/logout" method="post">               
            <fieldset>
                <legend>Log out</legend>
                <div class="form-actions">
                    <button type="submit" class="btn">Log out</button>
                </div>
            </fieldset>
        </form>
    </body>
</html>
